fastapi[all]==0.111.0
rdflib @ git+https://github.com/avillar/rdflib@6.x#egg=rdflib
pyld
pydantic-settings
pyshacl
ogc-na @ git+https://github.com/opengeospatial/ogc-na-tools@main#egg=ogc-na
jinja2==3.1.4